<div class='users-container'>
<% for item in @users %>
<div class='user-card'>
  <img src=<%=image_path(item.image)%>/>
  <div class='user-info'>
  <a href='users/<%=item.id%>'> <%=item.name%> </a>
  <p class='number-posts'>Number of posts: <%=item.posts%></p>
  </div>
</div>
<% end %>
</div>