<div class='post-card'>
  <%= link_to "Post # #{post.id} #{post.title}", 
    user_post_path(user_id:@user.id, id: post.id), 
    class:"post-title"
  %>
  <p class='post-text'>
    <%=post.text%>
  </p>
  <p class='post-counters'>Comments: <%=post.commentsCounter%> Likes: <%=post.likesCounter%></p>
</div>