 <div class='user-card'>
    <img src=<%=user.photo%>/>
    <div class='user-info'>
    <a href='/users/<%=user.id%>'> <%=user.name%> </a>
    <p class='number-posts'>Number of posts: <%=user.postCounter%></p>
    </div>
  </div>