<div class='container'>
  <h1>Victor Peralta</h1>
  <h3>Number of post:1</h3>
  <div class='post-card'>
  <p>Post #1</p>
  <a href='/users/1/posts/1'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
  </div>
</div>
