<%= render partial: "shared/user_card", locals:{user:@user_info }%>

<% @posts.each do |post| %>
  <%= render partial:"shared/post_card", locals: {post:post, user_info:@user_info }%>
  <div class="comments">
    <% post.comments.each do |comment|%>
      <p class='bold italic'>
        <%=comment.author.name%>:
      </p>
      <p class='comment-text'>
        <%=comment.text%>
      </p>
    <% end %>
  </div>
<% end %>
