<div class='container'>
  <%= render partial: "shared/user_card", locals:{user:@user_info }%>

  <% for post in @posts %>
    <%= render partial:"shared/post_card", locals: {post:post, user_info:@user_info }%>
    <% for comment in post.comments%>
      <p class='comment'><%=comment.author.name%>: <%=comment.text%></p>
    <% end %>
  <% end %>
</div>
