
.form-group {
  font-family: inherit;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.form-group label,
.add-comment label {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input,
.add-comment input,
textarea {
  border-radius: 8px;
  padding: 5px;
}

.form-group input:focus,
.add-comment input:focus,
textarea:focus {
  border: none;
  outline: 2px solid var(--highlighted-color);
}

input[type='submit'] {
  text-decoration: none;
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  border: none;
}
