.user-info-home {
  display: flex;
  padding: 10px;
}

.user-info-home img {
  width: 200px;
  height: 200px;
}

.post-card {
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
}

.bio-info {
  margin: 20px auto;
}
